#Main{
    width: 99vw;
    height: 85vh;
    border:2px solid  #A321CA;
    border-top: none;
    text-align: center;
    color: cornsilk;
}
#LeftHalf{
    float: left;
    position: relative;
    width:  49%;
    height: 100%;
    border-right:  2px solid  #A321CA;
}

#LeftHalf input{
    color: white;
    border: 2px solid  #A321CC;
    background-color:unset;
    width: 50%;
    text-align: center;
    font-size: 120%;
    margin: 2%;
}
#LeftHalf input[type = file]{
    font-size: 100%;
    border: none;
}

#LeftHalf input[type = submit]{
        background-color: darkorchid;
        border: 0.5px solid white;
}
#LeftHalf input[type = submit]:hover{
    color: black;
    border: 2px solid gray;
    background-color: aliceblue;
}

#RightHalf{
    float: right;
    position: relative;
    width:  50%;
    color: #A321CA;
    height: 100%;
}
#RightHalf img{
    position: relative;
    border:  3px solid #AF63E3;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
}